.advantages
	text-transform: uppercase
	padding: 3.5%
	&_header
		font-family: 'ProximaNova-Extrabld', 'Georgia', sans-serif
		padding: 0
		font-size: 18px
	&_item
		display: inline-block
		width: 24%
		&__img
			float: left
			width: 90px
			height: 90px
			background: url(../img/advantages.png) 5px 0 no-repeat
			overflow: hidden
			&2
				background-position: -75px 0
			&3
				width: 120px
				background-position: -165px 0
			&4
				background-position: -275px 0
		&__description
				float: left
				width: 92px
				padding-left: 15px
				font-family: 'ProximaNova-Regular', 'Georgia', sans-serif
				font-size: 14px
				
